Repository erdemgumrukcu/evrich: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-traffic, build-aggregator-1, build-aggregator-2, build-aggregator-3, build-connector, build-routing, build-api

build-traffic:
  stage: build
  script:
  - cd external/traffic
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/traffic:latest -f ./Dockerfile .
  - docker push $CI_REGISTRY_IMAGE/traffic:latest
  tags:
  - docker

build-aggregator-1:
  stage: build
  script:
  - cd external/aggregator1
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/aggregator1:latest -f ./Dockerfile .
  - docker push $CI_REGISTRY_IMAGE/aggregator1:latest
  tags:
  - docker

build-aggregator-2:
  stage: build
  script:
  - cd external/aggregator2
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/aggregator2:latest -f ./Dockerfile .
  - docker push $CI_REGISTRY_IMAGE/aggregator2:latest
  tags:
  - docker

build-aggregator-3:
  stage: build
  script:
  - cd external/aggregator3
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/aggregator3:latest -f ./Dockerfile .
  - docker push $CI_REGISTRY_IMAGE/aggregator3:latest
  tags:
  - docker

build-connector:
  stage: build
  script:
  - cd sogno/connector
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/connector:latest -f ./Dockerfile .
  - docker push $CI_REGISTRY_IMAGE/connector:latest
  tags:
  - docker

build-routing:
  stage: build
  script:
  - cd sogno/optimization
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/routing:latest -f ./Dockerfile .
  - docker push $CI_REGISTRY_IMAGE/routing:latest
  tags:
  - docker

build-api:
  stage: build
  script:
  - cd sogno/serviceapi
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/api:latest -f ./Dockerfile .
  - docker push $CI_REGISTRY_IMAGE/api:latest
  tags:
  - docker

Coordination of microservices delagated to Coordinator container. API simplified.
  sogno/api/Dockerfile
  sogno/api/api.py
  sogno/api/requirements.txt
  sogno/connector/connector.py
  sogno/coordinator/Dockerfile
  sogno/coordinator/controller.py
  sogno/coordinator/controller_.py
  sogno/coordinator/requirements.txt
  sogno/docker-compose.yml
  sogno/optimizer/Dockerfile
  sogno/optimizer/SmartRouting.py
  sogno/optimizer/requirements.txt
  sogno/optimizer/routing_milp.py
Due: build-connector

Name changes
  sogno/optimization/Dockerfile
  sogno/optimization/SmartRouting.py
  sogno/optimization/requirements.txt
  sogno/optimization/routing_milp.py
  sogno/serviceapi/Dockerfile
  sogno/serviceapi/api.py
  sogno/serviceapi/requirements.txt
Due: build-routing, build-api

Obsolete file removed
  sogno/coordinator/controller_.py
Due: none

Adjust Pipline and Deployment to Coordinator structure
  .gitlab-ci.yml
  k8s/deploy_sogno_components.yml
  sogno/api/api.py
  sogno/coordinator/controller.py
Due: none

add gitignore
  .gitignore
Due: none

increase grace period for testing
  sogno/api/api.py
Due: none

Create LICENSE
  LICENSE
Due: none

Fixed arrival and departure times of Service Fleet bug
  external/aggregator/api.py
  external/datafev/Dockerfile
  external/datafev/api.py
  external/datafev/data_handling/charger.py
  external/datafev/data_handling/cluster.py
  external/datafev/data_handling/fleet.py
  external/datafev/data_handling/multi_cluster.py
  external/datafev/data_handling/vehicle.py
  external/datafev/outputs/fleet_output.xlsx
  external/datafev/outputs/mcsystem_cluster_loading.png
  external/datafev/outputs/mcsystem_cluster_occupation.png
  external/datafev/outputs/mcsysytem_output.xlsx
  external/datafev/outputs/service_fleet_output.xlsx
  external/datafev/requirements.txt
  external/docker-compose.yml
  external/event_manager/data_handling/aggregator_info.xlsx
  external/event_manager/data_handling/input.xlsx
  external/event_manager/event_manager.py
  external/traffic/api.py
  external/utils/aggregator_info.xlsx
  external/utils/input.xlsx
  external/utils/prep_docker_compose.py
  sogno/coordinator/controller.py
  sogno/docker-compose.yml
  sogno/utils/aggregator_info.xlsx
  sogno/utils/input.xlsx
  sogno/utils/prep_docker_compose.py
Due: none

Updated output structure
  external/datafev/outputs/.gitkeep
  external/datafev/outputs/fleet_output.xlsx
  external/datafev/outputs/mcsystem_cluster_loading.png
  external/datafev/outputs/mcsystem_cluster_occupation.png
  external/datafev/outputs/mcsysytem_output.xlsx
  external/datafev/outputs/service_fleet_output.xlsx
  external/docker-compose.yml
  external/event_manager/data_handling/input.xlsx
  external/utils/input.xlsx
  external/utils/prep_docker_compose.py
  sogno/docker-compose.yml
  sogno/utils/input.xlsx
Due: none

Integrated glpk into existing system
  sogno/optimizer/Dockerfile
  sogno/optimizer/SmartRouting.py
  sogno/optimizer/routing_milp.py
Due: none

Response printing
  external/aggregator/api.py
Due: none

Completed prototype
  .gitignore
  external/aggregator/Dockerfile
  external/aggregator/api.py
  external/aggregator/requirements.txt
  external/datafev/Dockerfile
  external/datafev/api.py
  external/datafev/data_handling/charger.py
  external/datafev/data_handling/cluster.py
  external/datafev/data_handling/fleet.py
  external/datafev/data_handling/multi_cluster.py
  external/datafev/data_handling/pricing_rule.py
  external/datafev/data_handling/vehicle.py
  external/datafev/requirements.txt
  external/docker-compose.yml
  external/event_manager/Dockerfile
  external/event_manager/data_handling/aggregator_info.xlsx
  external/event_manager/data_handling/input_parser.py
  external/event_manager/data_handling/simulation.py
  external/event_manager/event_manager.py
  external/event_manager/requirements.txt
  external/traffic/__pycache__/api.cpython-39.pyc
  external/traffic/api.py
  external/utils/prep_docker_compose.py
  sogno/connector/connector.py
  sogno/coordinator/controller.py
  sogno/docker-compose.yml
  sogno/optimizer/SmartRouting.py
  sogno/utils/aggregator_info.xlsx
  sogno/utils/prep_docker_compose.py
Due: build-connector

Automated docker-compose.yml creation tool for multiple aggregators added
  external/aggregator/Dockerfile
  external/aggregator/api.py
  external/aggregator/pricing_rule.py
  external/aggregator/requirements.txt
  external/aggregator1/Dockerfile
  external/aggregator2/Dockerfile
  external/aggregator2/api.py
  external/aggregator2/pricing_rule.py
  external/aggregator2/requirements.txt
  external/aggregator3/Dockerfile
  external/aggregator3/api.py
  external/aggregator3/pricing_rule.py
  external/aggregator3/requirements.txt
  external/docker-compose.yml
  external/utils/aggregator_info.xlsx
  external/utils/prep_docker_compose.py
  external/utils/requirements.txt
  sogno/connector/connector.py
  sogno/coordinator/controller.py
  sogno/docker-compose.yml
  sogno/optimizer/Dockerfile
  sogno/optimizer/SmartRouting.py
  sogno/utils/aggregator_info.xlsx
  sogno/utils/prep_docker_compose.py
  sogno/utils/requirements.txt
Due: build-aggregator-1, build-aggregator-2, build-aggregator-3, build-connector

Fixed string connector ID bug
  external/docker-compose.yml
  external/utils/aggregator_info.xlsx
  external/utils/prep_docker_compose.py
  sogno/docker-compose.yml
  sogno/utils/aggregator_info.xlsx
  sogno/utils/prep_docker_compose.py
Due: none

Added only prices and random assignment algorithms to coordinator
  external/datafev/api.py
  external/datafev/data_handling/multi_cluster.py
  external/datafev/outputs/fleet_output.xlsx
  external/datafev/outputs/mcsystem_cluster_loading.png
  external/datafev/outputs/mcsystem_cluster_occupation.png
  external/datafev/outputs/mcsysytem_output.xlsx
  external/datafev/outputs/service_fleet_output.xlsx
  external/docker-compose.yml
  external/event_manager/data_handling/input.xlsx
  external/event_manager/data_handling/input_parser.py
  external/event_manager/event_manager.py
  external/traffic/api.py
  external/utils/input.xlsx
  sogno/coordinator/controller.py
  sogno/docker-compose.yml
  sogno/optimizer/routing_milp.py
  sogno/utils/input.xlsx
  sogno/utils/prep_docker_compose.py
Due: none

Fixed bug of charging fleet without service
  external/datafev/api.py
  external/docker-compose.yml
Due: none

Util function error
  external/utils/aggregator_info.xlsx
  external/utils/prep_docker_compose.py
Due: none

Updated .gitignore
  .gitignore
Due: none

xcsdf
  sogno/utils/prep_docker_compose.py
Due: none

Minor changes
  README.md
Due: none

Updated README.md
  README.md
Due: none

chore: increase version of existing components
  external/aggregator/build.env
  external/datafev/data_handling/build.env
  external/traffic/build.env
  sogno/api/build.env
  sogno/connector/build.env
  sogno/coordinator/build.env
  sogno/optimizer/build.env
Due: build-connector

feature: add version tag
  .gitlab-ci.yml
  external/aggregator/build.env
  external/datafev/data_handling/build.env
Due: none

feature: add remaining versions
  .gitlab-ci.yml
  external/traffic/build.env
  sogno/api/build.env
  sogno/connector/build.env
  sogno/coordinator/build.env
  sogno/optimizer/build.env
Due: build-connector

feat: add new services to pipeline
  .gitlab-ci.yml
  external/datafev/build.env
  external/event_manager/build.env
Due: none

add health check to mysql
  external/docker-compose.yml
  external/utils/prep_docker_compose.py
Due: none

fix: request count response
  external/event_manager/event_manager.py
Due: none

chore: improve compose files
  external/docker-compose.yml
  sogno/docker-compose.yml
Due: none

update: docker compose prep script
  external/docker-compose.yml
  external/utils/prep_docker_compose.py
  sogno/docker-compose.yml
  sogno/utils/prep_docker_compose.py
Due: none

chore: change depricated sysntax
  external/datafev/api.py
  external/datafev/data_handling/multi_cluster.py
Due: none

adjust input
  external/event_manager/data_handling/input.xlsx
  external/utils/input.xlsx
  sogno/utils/input.xlsx
Due: none

feat: implement timer reset for connector registration
  sogno/coordinator/controller.py
Due: none

fix: format string syntax
  sogno/coordinator/controller.py
Due: none

freeze versions
  external/aggregator/requirements.txt
  external/datafev/requirements.txt
  external/event_manager/requirements.txt
  external/traffic/requirements.txt
  sogno/api/requirements.txt
  sogno/connector/requirements.txt
  sogno/coordinator/requirements.txt
  sogno/optimizer/requirements.txt
Due: build-connector

Path conditions:
  build-traffic: any of: /external/traffic/**
  build-aggregator-1: any of: external/aggregator1/**
  build-aggregator-2: any of: external/aggregator2/**
  build-aggregator-3: any of: external/aggregator3/**
  build-connector: any of: sogno/connector/**
  build-routing: any of: sogno/optimization/**
  build-api: any of: sogno/serviceapi/**
